<section class="accountForm">
  <div class="pagewidth">
    <h1>Zaloguj się</h1>
    <div class="main">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Adres e-mail' %>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Hasło' %>
        <div class="fieldCheckBox">
          <%= f.check_box :remember_me %>
          <label for="user_remember_me">Zapamiętaj mnie (automatyczne logowanie)</label>
        </div>
          <%= f.submit 'ZALOGUJ SIĘ' %>
      <% end %>

      <%= render 'users/shared/links' %>
    </div>
    <div class="aside">
      <img src="<%= asset_path('account/1.png') %>" alt="people icon"/>
    </div>
  </div>
</section>