<div class="post">
  <img src="<%= comment.user.image %>" class="avatar" alt="avatar" />
  <div class="content"id="comment_<%= comment.id %>">
    <span><strong><%= comment.user.name %></strong> - <%= time_ago_in_words(comment.created_at) %> temu</span>
    <p><%= raw(h(comment.content).gsub(/\r/, '').gsub(/\n/, '<br>')) %></p>
    <%= link_to "pokaż odpowiedzi (#{comment.subcomments_count})", consultations_get_subcomments_path(id: comment.id),
                remote: true, id: "showanswers_#{comment.id}", class: 'showReplyButton replyToComment' %>
    <%= link_to "odpowiedz", consultations_get_subcomments_path(id: comment.id),
                remote: true, id: "gotoreply_#{comment.id}", class: 'replyButton replyToComment instantReply' %>
  </div>
  <div class="loadingBox" style="display: none;" id="commentloadingbox_<%= comment.id %>">
    <span>trwa ładowanie komentarzy</span>
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
</div>