<section class="accountForm" style="border-top: 1px solid grey;">
  <div class="pagewidth">
    <h2>Zapomniałeś hasła?</h2>
    <div class="main">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'Nowe hasło' %>
          <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Potwierdź hasło' %>
          <%= f.submit 'ZMIEŃ HASŁO' %>
      <% end %>

      <%= render 'users/shared/links' %>

    </div>
    <div class="aside">
      <img src="<%= asset_path('account/4.png') %>" alt="people icon" class="marginTopOff"/>
    </div>
  </div>
</section>