<section class="accountForm" style="border-top: 1px solid grey;">
  <div class="pagewidth">
    <h2>Zapomniałeś hasła?</h2>
    <div class="main">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Adres e-mail' %>
          <%= f.submit 'WYŚLIJ MI INSTRUKCJĘ' %>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
    <div class="aside">
      <img src="<%= asset_path('account/4.png') %>" alt="people icon" class="marginTopOff"/>
    </div>
  </div>
</section>