<!DOCTYPE html>
<html>
<head>
  <!-- Created by Media 3.0 -->
  <meta charset="utf-8" />
  <meta name="language" content="pl" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
  <meta name="viewport" content="width=1200" />
  <title>Konsultacje Społeczne Jastrzębie-Zdrój</title>

  <meta name="author" content="Fundacja Media 3.0" />
  <meta name="description" content="To miejsce, gdzie możecie Państwo zapoznać się z projektami i opisami ważnych przedsięwzięć podejmowanych przez nasze miasto oraz podzielić się swoimi opiniami na ich temat." />
  <meta name="keywords" content="konsultacje społeczne, Jastrzębie-Zdrój" />
  <meta name="robots" content="index,follow" />

  <meta property="og:title" content="Konsultacje Jastrzębie-Zdrój - platforma stworzona przez ludzi dla ludzi!" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://konsultacje.jastrzebie.pl/logo.jpg" />
  <meta property="og:url" content="http://konsultacje.jastrzebie.pl/" />
  <meta property="og:site_name" content="Konsultacje Jastrzębie-Zdrój" />
  <meta property="og:description" content="To miejsce, gdzie możecie Państwo zapoznać się z projektami i opisami ważnych przedsięwzięć podejmowanych przez nasze miasto oraz podzielić się swoimi opiniami na ich temat." />
  <meta property="og:locale" content="pl_PL" />
  <meta property="fb:app_id" content="1386590734996335" />

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="<%= asset_path('icon2.ico') %>" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

 
  <%= csrf_meta_tags %>
</head>
<body>
    <header <% if @index_page %>class="fullSize"<% end %>>
      <div class="pagewidth">
        <a id="logoJZ" href="http://www.jastrzebie.pl/"><%= image_tag 'header/logoJZ.png', alt: "logo Jastrzębie-Zdrój" %></a>
        <a id="logoKJZ" href="<%= root_path %>"><%= image_tag 'header/logoKJZ.png', alt: "logo Konsultacje Jastrzębie-Zdrój" %></a>
        <div id="headerRight">
          <ul id="fontsTools">
            <li><a class="fontSizeMinus" title="Pomniejsz stronę">-A</a></li>
            <li><a class="fontReset" title="Przywróć podstawową wielkość strony">A</a></li>
            <li><a class="fontSizePlus" title="Powiększ stronę">+A</a></li>
          </ul>
          <form id="search" action="<%= url_for consultations_search_path %>" method="get">
            <input type="search" placeholder="szukaj..." title="szukaj" name="q"/>
            <input type="submit" value=" " title="wyślij"/>
          </form>
        </div>
        <nav>
          <ul>
            <li><%= link_to "Aktualne", consultations_list_path(ctype: 0) %></li>
            <li><%= link_to "Planowane", consultations_list_path(ctype: 1) %></li>
            <li><%= link_to "Zakończone", consultations_list_path(ctype: 2) %></li>
          </ul>
        </nav>
        <% if @index_page %>
        <h1 class="textCenter">Zapraszamy Was do korzystania <br/>z platformy konsultacji społecznych</h1>
        <h2 class="textCenter">To miejsce, gdzie możecie Państwo zapoznać się z projektami i opisami ważnych przedsięwzięć podejmowanych przez nasze miasto oraz podzielić się swoimi opiniami na ich temat.</h2>
        <a class="headerMoreButton">Dowiedz się więcej</a>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="pagewidth">
        <div id="copyright">
          <p>Copyright © 2015 <a href="#"><strong>konsultacje.jastrzebie.pl</strong></a></p>
          <p>Created by <a href="http://media30.pl/"><strong>Media 3.0</strong></a></p>
        </div>
        <ul id="socialMedia">
          <li><a href="#" class="socialMediaIcon facebook" title="socialMedia facebook"></a></li>
          <li><a href="#" class="socialMediaIcon twitter" title="socialMedia twitter"></a></li>
          <li><a href="#" class="socialMediaIcon google" title="socialMedia google"></a></li>
          <li><a href="#" class="socialMediaIcon youtube" title="socialMedia youtube"></a></li>
        </ul>
        <ul id="footerNav">
          <% if user_signed_in? and current_user.admin? %>
              <li><%= link_to "Panel Administracyjny", admin_root_path %></li>
          <% end %>

          <% if user_signed_in? %>
              <li><%= link_to "Wyloguj", destroy_user_session_path %></li>
          <% end %>

          <% unless user_signed_in? %>
              <li><%= link_to "Zaloguj przez facebook", user_omniauth_authorize_path(:facebook) %></li>
          <% end %>


        </ul>
      </div>
    </footer>
<script>
    initializeEvents();
    initScriptsJs();
</script>
</body>
</html>
